<!-- <div class="center hero-unit"> -->
<div>
	<h1>Inside Sales Education and Software</h1>
	<h2>
		We teach, train, motivate, and consult technology startups -- and build our own software.
	</h2>
</div>
